.curved-loop-jacket {
  display: flex;
  width: 100%;
  height: 100px;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  overflow: visible;
  display: block;
  font-size: 6rem;
  fill: hwb(241 1% 74%);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
